a {
    width: 100%;
}

.calls {
    width: 100%;
}

.call-list {
    list-style-type: none;
    margin: 0;
}

.call-list-item {
    width: 50%;
    height: 115px;
}

.call-type-button {
    height: 100%;
}

.call-type-text {
    margin: 0 auto;
}

.call-type-wrapper {
    width: 160px;
    margin: 0 auto;
}

.localization-form {
    margin-left: 30px;
    margin-top: 15px;
}

.color-icon {
    border-radius: 45px;
    height: 80px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

.localization-circle-btn {
    border-radius: 50%;
    display: block;
    font-size: 40px;
    height: 200px;
    line-height: 172px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

.not-localized-view {
    margin-top: 40px;
}

    .not-localized-view p {
        display: block;
        margin: 0 auto;
        width: 245px;
        text-align: center;
    }

.form-group {
    max-width: 100%;
}

.cancel-link {
    width: 80px;
    margin-left: 10px;
}