@model Tethys.Notifier.ViewModels.Dashboard.IndexViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.1.1.js"></script>
    <script src="signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var callNotifier = $.connection.callNotifierHub;
            callNotifier.client.callRecieved = function (callType) {
                alert(callType);
            };

            $.connection.hub.start().done(function () {
                $('.call-type-button').click(function () {

                    callNotifier.server.notify($(this).val());
                });
            });
        });
    </script>
}

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
{
    <div>
        @foreach (var callType in Model.CallTypes)
        {
            <div>
                <input class="call-type-button" type="button" data-isActive="@callType.IsActive" value="@callType.Name" />
            </div>
        }
    </div>
}