<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assets/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/Css/Style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", false)
</body>
</html>
