.login-panel {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    /*margin-left: 100px;*/
    width: 157px;
}

    .logo b {
        font-size: 50px;
    }

.login-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    max-width: 500px;
}

.color-icon {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.main-navigation {
    margin-bottom: 30px !important;
}